<div class="route-container" id="home-template" #homeRoute>
	<div parallax #homeBanner 
		[config]="{
			parallaxInitVal: -250,
			scrollElement: homeRoute, 
			parallaxElement: homeBanner
		}"
	></div>
	
	<h3 id="site-welcome" class="relative" #siteWelcome
		parallax [config]="{
			parallaxRatio: .6,
			parallaxCss: 'top',
			parallaxInitVal: -70,
			scrollElement: homeRoute,
			parallaxElement: siteWelcome
		}"
	>
		Welcome to the website for Stallion Security!
	</h3>
	
	<p>this is a paragraph</p>
</div>